<button class="isys-button icon-info active"  render-style="Tab" @onclick="@(Apri)" aria-describedby="@flyoutLabelledBy">
    @if (Icon != null)
    {
        <i class="@Icon @flyoutClass" ></i>
    }
    @if (Text != null)
    {
        <span class="@flyoutClass" id="@UniqueId">@Text</span>
    }
</button>

<DxFlyout @bind-IsOpen=IsOpen
          Id="flyout-flipping"
          PositionTarget="@($"#{UniqueId}")"
          Position=@Position
          Width="240px">
    <span style="font-size: 0.75rem">@FlyOutText</span>
</DxFlyout>



@code
{
    [Parameter,EditorRequired] public string? Text { get; set; }
    [Parameter,EditorRequired] public string? FlyOutText { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public FlyoutPosition Position { get; set; } = FlyoutPosition.Auto;
    bool IsOpen { get; set; } 
    string flyoutClass =  "flipping-button" ; 
    string flyoutLabelledBy = "flyout-flipping" ;
    private string UniqueId => $"id-{GetHashCode()}";

    private void Apri()
    {
        IsOpen = !IsOpen;
    }
}

